<h1>Apples Fake website</h1>
<nav>
    <a href="/">Home</a> |
  <% Object.keys(articles).forEach(function (id) { %>
    <a href="<%=articles[id].route%>"><%=articles[id].title%></a> |
  <% }) %>
</nav>
